# Basic  Operations in Python

In [1]:
# Creating Variable

In [2]:
a = 10

In [3]:
# The 10 number is stored in computer starage parmanently

In [4]:
a

10

In [5]:
# To see the memory location of variable "a"
id(a)

140710981833800

In [6]:
# Some arithmetic operators are: +(Addition), -(Substraction), *(Multiplication), /(Division), %(Remainder)

In [7]:
a + 13

23

In [8]:
add = a + 13
add

23

In [9]:
sub = add - 2.81
sub

20.19

In [10]:
mul = sub * 2
mul

40.38

In [11]:
div = mul / 2
div

20.19

---
# Comment

**Types of Comment**
1) Single Line Comment
2) Multi Line Comment

-------------------

1. Create Single Line Comment

In [12]:
# Use "#" Symbol to write sinle line comment

In [13]:
# Hey, I am writing single line comment.

2. Multi Line Comment

In [14]:
# Give Triple Quote

'''Hey, I'm writing multi-line comment
 and 
It is very useful when writing notes.'''

"Hey, I'm writing multi-line comment\n and \nIt is very useful when writing notes."

---
# Data Types
1) Integer
2) Float
3) String
4) Boolean

-------------
1. Integer

In [15]:
idt = 232

In [16]:
# To check the data type

type(idt)

int

In [17]:
type(-5784)

int

In [18]:
'''To check the use/working of function/keyword
type that function and 

--> press shift + tab'''

type(idt) #press shift + tab'

int

---------
2. Float

In [19]:
fdt = 79511.81
fdt

79511.81

In [20]:
type(fdt)

float

---
3. String

In [21]:
sdt1 = 'Namaskar: is this is word is string'
sdt1

'Namaskar: is this is word is string'

In [22]:
# Let me check Namaskar is string or not.

type(sdt1)

str

In [23]:
sdt2 = "If I type a string in double quotes it is treated as a string or not"
sdt2

'If I type a string in double quotes it is treated as a string or not'

In [24]:
# Let me check the data type of sdt2

type(sdt2)

str

In [25]:
s1 = 'This is string'
s2 = "This is string"
s3 = '''This is string'''

In [26]:
''' Let me check this s1,s2 & s3 strings are same or not.
# To compare two things use == '''

s1 == s2

True

In [27]:
s1 == s2 == s3

True

In [28]:
s4 = "Python was created by Guido van Rossum, and First released on February 20, 1991"
s5 = "Python was created by Guido van Rossum, and first released on February 20, 1991"

Note: In, s4 "First" word 1st alphabet is capital and In, s5 "first" word 1st alphabet is small

In [29]:
# Let us compare this two strings

s4 == s5

False

Note: Use "" when the (ex.) words like It's, Don't,...

In [30]:
sdt3 = 'It's a Jupyter Notebook'
sdt3

SyntaxError: unterminated string literal (detected at line 1) (4089244675.py, line 1)

In [31]:
sdt4 = "It's a Jupyter Notebook"
sdt4

"It's a Jupyter Notebook"

---
4. Boolean

In [32]:
bdt1 = True
bdt1

True

In [33]:
type(bdt1)

bool

In [34]:
bdt2 = False
bdt2

False

In [35]:
type(bdt2)

bool

---

# Typecasting
- It is used to change the data types or data structure.

In [36]:
tc = 4821
type(tc)

int

In [37]:
# Changing the int to float

tcfdt = float(tc)

In [38]:
type(tcfdt)

float

In [39]:
# Changing float to string

tcsdt = str(tcfdt)
tcsdt

'4821.0'

In [40]:
type(tcsdt)

str

In [41]:
x = 10
type(x)

int

In [42]:
x1 = bool(x)
x1

True

In [43]:
type(x1)

bool

In [44]:
y = 0
type(y)

int

In [45]:
y1 = bool(y)
y1

False

In [46]:
type(y1)

bool

 ---
# String Methods

---
Note: To check available functions for a particular variable
    type variable name put the . and press the tab

---

In [47]:
p = 'this is a string ,, for trial'
p

'this is a string ,, for trial'

In [48]:
p.     #put the . and press the tab

SyntaxError: invalid syntax (355349335.py, line 1)

In [49]:
# Capitalize function (It will capitalize the first aplphabet of first word of the sentence)

pc = p.capitalize()
pc

'This is a string ,, for trial'

In [50]:
# Join function (This function will add the specified symbol after each alphabet)

pj = '|'.join(pc)
pj

'T|h|i|s| |i|s| |a| |s|t|r|i|n|g| |,|,| |f|o|r| |t|r|i|a|l'

In [51]:
ds = "Data science is the study of data to extract meaningful insights for business. It is a multidisciplinary approach that combines principles and practices from the fields of mathematics, statistics, artificial intelligence, and computer engineering to analyze large amounts of data"
ds

'Data science is the study of data to extract meaningful insights for business. It is a multidisciplinary approach that combines principles and practices from the fields of mathematics, statistics, artificial intelligence, and computer engineering to analyze large amounts of data'

**Data science is the study of data to extract meaningful insights for business. It is a multidisciplinary approach that combines principles and practices from the fields of mathematics, statistics, artificial intelligence, and computer engineering to analyze large amounts of data.**

In [52]:
'-'.join(ds)

'D-a-t-a- -s-c-i-e-n-c-e- -i-s- -t-h-e- -s-t-u-d-y- -o-f- -d-a-t-a- -t-o- -e-x-t-r-a-c-t- -m-e-a-n-i-n-g-f-u-l- -i-n-s-i-g-h-t-s- -f-o-r- -b-u-s-i-n-e-s-s-.- -I-t- -i-s- -a- -m-u-l-t-i-d-i-s-c-i-p-l-i-n-a-r-y- -a-p-p-r-o-a-c-h- -t-h-a-t- -c-o-m-b-i-n-e-s- -p-r-i-n-c-i-p-l-e-s- -a-n-d- -p-r-a-c-t-i-c-e-s- -f-r-o-m- -t-h-e- -f-i-e-l-d-s- -o-f- -m-a-t-h-e-m-a-t-i-c-s-,- -s-t-a-t-i-s-t-i-c-s-,- -a-r-t-i-f-i-c-i-a-l- -i-n-t-e-l-l-i-g-e-n-c-e-,- -a-n-d- -c-o-m-p-u-t-e-r- -e-n-g-i-n-e-e-r-i-n-g- -t-o- -a-n-a-l-y-z-e- -l-a-r-g-e- -a-m-o-u-n-t-s- -o-f- -d-a-t-a'

In [53]:
pc

'This is a string ,, for trial'

In [54]:
# Index function (It will return the Index number of specified value)

pc.index('is')

2

In [55]:
pc.index('This')

0

In [56]:
# Startswith (It will return the specified value is starting with or not)

pc.startswith('T')

# I am checking is my string is starting with capital T or not

True

In [57]:
pc.startswith('t')

False

In [58]:
pc

'This is a string ,, for trial'

In [59]:
# Replace (It will replace the old value with specified new value)

pcr = pc.replace('trial', 'practice')
pcr

'This is a string ,, for practice'

In [60]:
pcr = pcr.replace(',, ', '')
pcr

'This is a string for practice'

In [61]:
pcr = pcr.replace('is a', '')
pcr

'This  string for practice'

In [62]:
pcr = pcr.replace('string', 'string is')
pcr

'This  string is for practice'

In [63]:
pcr  = pcr.replace('This ', 'This')
pcr

'This string is for practice'

In [64]:
# Split (It will separate the values)

pcr.split(' ')

['This', 'string', 'is', 'for', 'practice']

In [65]:
pro = 'pc,mobile,tablet,tv,music system'
pro

'pc,mobile,tablet,tv,music system'

In [66]:
pro.split(',')

['pc', 'mobile', 'tablet', 'tv', 'music system']

In [67]:
# Swapcase (It will convert the lower case to upper case or upper case to lower of entire words)

swap = pro.swapcase()
swap

'PC,MOBILE,TABLET,TV,MUSIC SYSTEM'

In [68]:
# Lower (It will convert entire words to lower case)

low = swap.lower()
low

'pc,mobile,tablet,tv,music system'

In [69]:
# Upper (It will convert entire words to upper case)

upp = swap.upper()
upp

'PC,MOBILE,TABLET,TV,MUSIC SYSTEM'

In [70]:
# Title (It will convert the first alphabet of each word into upper case i.e into proper format)

ti = upp.title()
ti

'Pc,Mobile,Tablet,Tv,Music System'

---
# Types of Data Structures

A) Mutable Data Structure: (Once it is created, We can do the modification)

    1. Lists
    2. Dictionary
    
    
B) Immutable Data Structure: (Once it is created, We can not do any change or modification)

    i. Tuple
    ii. Sets

---
**1. Lists**

   - Lists are the built in data structures in the python.
   - Lists are heterogeneous data structure.
   - Lists are Mutable.

In [71]:
# Creating Lists (By this we can store different types of data types in single variable )

lst = list()
type(lst)

list

**There are two methods to create list ds**

1) Create with "list" keyword and 

2) Create with "[ ]" square brackets.

In [72]:
lst1 = []
type(lst1)

list

In [73]:
# Add elements inside list

lst = [10, 'raj', 878.1233, True, 7894, False]
lst

[10, 'raj', 878.1233, True, 7894, False]

In [74]:
# Accessing elements from a list

lst[1]

'raj'

In [75]:
lst[2]

878.1233

In [76]:
lst[3]

True

**Note:**
1) In, Python indexing starts with 0(zero) and reverse indexing starts with -1(minus one).

2) In, Python last index number is excluded.

In [77]:

lst[-1]

False

In [78]:
lst[-2]

7894

In [79]:
lst[-3]

True

In [80]:
# Extract values from 10 to 878.1233

lst[0:3]

[10, 'raj', 878.1233]

Note: In the Python last Index number is excluded.

In [81]:
# Append (By this function we can add anything into the list and It will added to the end of the list )

lst.append('Machine Learning')
lst

[10, 'raj', 878.1233, True, 7894, False, 'Machine Learning']

In [82]:
# Count (To check how many times specified value is occuring)

lst.count('Machine Learning')

1

In [83]:
lst.count(10)

1

In [84]:
lst.count(5)

0

In [85]:
# Index (It will return the Index number of specified value)

lst.index('Machine Learning')

6

In [86]:
lst.index('raj')

1

In [87]:
# Insert (It will add the values at the specified index number)

lst.insert(0, 'Hey')
lst

['Hey', 10, 'raj', 878.1233, True, 7894, False, 'Machine Learning']

In [88]:
lst.insert(2, 'AI')
lst

['Hey', 10, 'AI', 'raj', 878.1233, True, 7894, False, 'Machine Learning']

In [89]:
# Pop (It will remove the last value from the list)

lst.pop(3)
lst

['Hey', 10, 'AI', 878.1233, True, 7894, False, 'Machine Learning']

In [90]:
lst.pop(-2)
lst

['Hey', 10, 'AI', 878.1233, True, 7894, 'Machine Learning']

In [91]:
# Reverse (It will return the reverse format of the list)

lst.reverse()
lst

['Machine Learning', 7894, True, 878.1233, 'AI', 10, 'Hey']

In [92]:
# Remove (It will remove the specified value from the list)

lst.remove('Hey')
lst

['Machine Learning', 7894, True, 878.1233, 'AI', 10]

In [93]:
lst.remove(10)
lst

['Machine Learning', 7894, True, 878.1233, 'AI']

In [94]:
# Replacing elements from lists

lst[2] = 'Deep Learning'
lst

['Machine Learning', 7894, 'Deep Learning', 878.1233, 'AI']

---
**i. Tuple**

   - Tuples are ordered and heterogeneous data structure.
   - Tuples are immutable.

In [95]:
# Create a Tuple

tp = ()
type(tp)

tuple

**There are two methods to create tuple ds**

1) Create with "tuple" keyword and 

2) Create with "( )" square brackets.

In [96]:
tp1 = tuple()
type(tp1)

tuple

In [97]:
tp = (8, 'dstuple', 100.99, True, 'Royal', 'Royal')
tp

(8, 'dstuple', 100.99, True, 'Royal', 'Royal')

In [98]:
# Count

tp.count('Royal')

2

In [99]:
# Index

tp.index('dstuple')

1

In [100]:
# Accessing elements from tuple

tp[4]

'Royal'

In [101]:
tp[2]

100.99

In [102]:
# Replacing elements from tuple data structure

'''Note: Convert Tuple data structure into List data structure and
do the changes what you want and again convert into the Tuple data structure (Use Typecasting to convert)'''

lstz = list(tp)
type(lstz)

list

In [103]:
lstz[0] = 'immutable'
lstz

['immutable', 'dstuple', 100.99, True, 'Royal', 'Royal']

In [104]:
lstz.append(500)
lstz

['immutable', 'dstuple', 100.99, True, 'Royal', 'Royal', 500]

In [105]:
tpd = tuple(lstz)
tpd

('immutable', 'dstuple', 100.99, True, 'Royal', 'Royal', 500)

In [106]:
type(tpd)

tuple

---
**2. Dictionary**

   - Python dictionaries are ordered collection of items.
   - Dictionary is mutable data structure
   - It has key and value pair

In [107]:
# Creating  an empty dictionary

di = {}
type(di)

dict

**There are two methods to create dictionary ds**

1) Create with "dict" keyword and 

2) Create with "{ }" square brackets.

In [108]:
di1 = dict()
type(di1)

dict

In [109]:
# Adding elements in a dictionary

di = {10: 'Python', 20: 'Machine Learning'}
#     |     |
#   Key   VAlue
di

{10: 'Python', 20: 'Machine Learning'}

In [110]:
# Get (Return the value for key if key is in the dictionary)

di.get(20)

'Machine Learning'

In [111]:
di.get(10)

'Python'

Note: Key should be Unique, we can not repeat/duplicate key.

In [112]:
# Items (It will return the all items which are presented in dictionary)

di.items()

dict_items([(10, 'Python'), (20, 'Machine Learning')])

In [113]:
# Keys (It will returns the keys)

di.keys()

dict_keys([10, 20])

In [114]:
# Update (Adding values in dictionary)

di.update({30: 'Deep Learning',40: 'Time',50: 'NLP'})
di

{10: 'Python',
 20: 'Machine Learning',
 30: 'Deep Learning',
 40: 'Time',
 50: 'NLP'}

In [115]:
# Pop (It will remove specified key and return the corresponding value)

di.pop(40)
#      |
#     Key

'Time'

In [116]:
di

{10: 'Python', 20: 'Machine Learning', 30: 'Deep Learning', 50: 'NLP'}

In [117]:
# Values (To check the list of values not the keys)

di.values()

dict_values(['Python', 'Machine Learning', 'Deep Learning', 'NLP'])

---
**ii. Set**

 - Set is a collection which is unordered, unindexed.
 - Set is immutable.
 - Sets are unordered, so you cannot be sure in which order the items will appear.
 - Sets do not allow duplicate values.
 - Once  a set is created, you cannot change its items, but you can remove items and add new items.
 - As sets are unordered, they do not support indexing and slicing operations.

In [118]:
# Creating an empty set

st1 = {6, 10, 20, 30, 50, 87}
type(st1)

set

**There are two methods to create set ds**

1) Create with "set" keyword and 

2) Create with "{ }" square brackets. (How python will identify it is set or dictionary? Ans is dictionary ds has key & value pair and in set doesn't.)

In [119]:
st = set()
type(st)

set

In [120]:
# Does not allow duplicate items

st = {10, 10, 6, 10, 20, 30, 50, 87}
st

{6, 10, 20, 30, 50, 87}

Note: We have three times 10 but in the output it return once, it means set does not allow duplicate items

In [121]:
# Does not support indexing

st[2]

TypeError: 'set' object is not subscriptable

In [ ]:
# Add (It will add specified values at any location)

st.add(500)

# Note: this 500 value is added at any location

st

In [ ]:
# Pop

st.pop()

# Note: By this pop function randomly any value is removed from set data structure

In [122]:
st

{6, 10, 20, 30, 50, 87}

---
# * WHAT I LEARNED ?
-->
1) Variable
2) Memory location of variable (id)
3) Some arithmetic operators +(Addition), -(Substraction), *(Multiplication), /(Division), %(Remainder)
4) Types of Comment (Single Line Comment, Multi Line Comment)
5) Data Types (Integer, Float, String, Boolean)
6) Check the data type
7) Typecasting
8) Capitalize function (It will capitalize the first aplphabet of first word of the sentence)
9) Join function (This function will add the specified symbol after each alphabet)
10) Index function (It will return the Index number of specified value)
11) Startswith (It will return the specified value is starting with or not)
12) Replace (It will replace the old value with specified new value)
13) Split (It will separate the values)
14) Swapcase (It will convert the lower case to upper case or upper case to lower of entire words)
15) Lower (It will convert entire words to lower case)
16) Upper (It will convert entire words to upper case)
17) Title (It will convert the first alphabet of each word into upper case i.e into proper format)
18) Types of Data Structures (Lists, Dictionary, Tuple, Sets)
19) Append (By this function we can add anything into the list and It will added to the end of the list )
20) Count (To check how many times specified value is occuring)
21) Index (It will return the Index number of specified value)
22) Insert (It will add the values at the specified index number)
23) Pop (It will remove the last value from the list)
24) Reverse (It will return the reverse format of the list)
25) Remove (It will remove the specified value from the list)
26) Replacing elements from lists
27) Get (Return the value for key if key is in the dictionary)
28) Items (It will return the all items which are presented in dictionary)
29) Keys (It will returns the keys)
30) Update (Adding values in dictionary)
31) Values (To check the list of values not the keys)
32) Add (It will add specified values at any location)
etc.

# --------------------------------------------Thank You--------------------------------------------